:root {
  --def-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  --focus-shadow: 0px 15px 20px rgba(255, 209, 149, 0.4);
}

.wrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.header {
  font-size: 18px;
  font-family: 'Bad Script', cursive;
  margin: 2% 5% 0 0;
}

.form-search {
  display: flex;
  margin: 2% 0 0 5%;
}

.search-bar {
  height: 52px;
  min-width: 300px;
  padding: 1rem;
  font-family: inherit;
  line-height: 2rem;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  box-shadow: var(--def-shadow);
}

.search-bar::placeholder {
  color: #b0bec5;
}

.search-bar:focus {
  box-shadow: var(--focus-shadow)
}

button {
  height: 52px;
  width: 52px;
  background-color: #ffd195;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
  box-shadow: var(--def-shadow);
  transition: .3s;
}

button:hover {
  background-color: #f5faf7;
  color: #b4d9c7;
  box-shadow: var(--focus-shadow);
}

button i {
  font-size: 1.5rem;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 575px) {
  * {
    margin: 0;
    padding: 0;
  }

  .wrap {
    flex-direction: column;
  }

  .form-search {
    max-width: 90%;
  }

  .search-bar {
    min-width: 100px;
    max-width: 75%;
    margin-bottom: 15px;
  }

}