:root {
  --def-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.card {
  box-shadow: var(--def-shadow);
  display: inline-block;
  padding: 3%;
  margin-top: 3%;
  border-radius: 10px;
  background-color: rgb(221, 221, 221, 0.25);
  font-size: 1.5rem;
}

h4 {
  font-size: 2rem;
  margin-bottom: 10%;
}

.city-name {
  text-decoration: underline;
  text-transform: capitalize;
  /* text-shadow: 3px 2px 2px lightslategrey; */
  letter-spacing: 4px;
}

.icon-weather {
  width: 62px;
  margin-right: 30px;
  position: relative;
}

.weather-main {
  display: flex;
  align-items: center;
}

.temperature {
  font-size: 52px;
  padding: 20px;
  margin-left: 20px;
}

.minmax {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 20px;
}

.temp-min {
  grid-column-start: 1;
  grid-row-start: 1;
}

.min {
  grid-column-start: 1;
  grid-row-start: 2;
}

.temp-max {
  grid-column-start: 3;
  grid-row-start: 1;
}

.max {
  grid-column-start: 3;
  grid-row-start: 2;
}

.minmax-icon {
  grid-column-start: 2;
  grid-row-start: span 2;
  border-left: solid 1px #fff;
  border-right: solid 1px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minmax-icon i {}