* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  color: #fff;

  /* GRADINET:  */
  background: #70e1f5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ffd194, #70e1f5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ffd194, #70e1f5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}